/* Base styles */
body {
  font-family: Arial, sans-serif;
  border: none;
  background: radial-gradient(circle, #808080, #000000);
  margin: 0;
  padding: 0;

}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  transition: 0.5s;
  padding-right:10px;
  padding-left:10px;
  box-sizing: border-box; 
}
.free {
   background: black;
   padding: 10px;
   text-align: center;
   color:	#ffffff;
   position: sticky;
   font-family: Arial, sans-serif;
   
}

.social-icons {

   align-items: center;
   background: 	#ffffff;
   color: 	#ffffff;
   padding-left: 20px;
   position: sticky;
   display: flex;
   width: 100%;
   padding-left :0;
  justify-content:center;
  align-items:center;
}

.larger-icon {
   font-size: 24px;
   color:	#ffa31a;
   vertical-align: middle;
   
}

.journey-text {
   font-size: 18px;
   margin: 0;
}

.free-shipping-text {
   font-weight: bold;
}

.icon img {
   width: 30px;
   height: 30px;
}


.navbar {
  background:	#0e0e0e;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items:center;
 text-align:center;
}


.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
   
}

.navbar .logo {
  display: flex;
  align-items: center;
  
}

.navbar .logo .icon {
  padding-right: 5px;
}

.navbar .nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.navbar .nav ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.navbar .nav ul li:last-child {
  margin-right: 0;
}

.navbar .nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.navbar .nav ul li a:hover {
  color:#ffa31a;
}
.navbar .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-right:5px;
 
}

.logo {
   display: flex;
   align-items: center;
   padding-top:5px;
   padding-bottom:5px;
   justify-content:center;
   border-radius: 10px;
   padding-right:5px;
   padding-left:5px;

}

.icon img {
   width: 35px;
   height: 35px;
   border-radius: 50%;

}

.logo .icon i {
  background: linear-gradient(90deg, white 50%, #FFA500 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.3s ease;
  font-size: 60px;
  padding-right: 10px;
  font-size: 2.5rem;
  margin-right: 1rem;
 }
 
 .logo .icon i:hover {
  background: linear-gradient(90deg, #FFA500 50%, white 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
 }
 
 .logo-text span {
  color: black;
  background-color: #FFA31A;
  padding: 5px 10px; 
  border-radius: 5px;
 }
 
 .logo-text {
   font-size: 2rem;
   font-weight: bold;
   color:white;
  
 }
 

.search {
  flex: 1;
  margin: 0 20px;
  display: flex;
  position: relative;
}

.search input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  background-color:	#292929;
  color: white;
}

.search button {
  margin-left: 10px; 
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}


.social-icons .container {
  display: flex;
  align-items: center;
  float:left;
  padding: 10px;
  max-width: 1200px; 
  margin: 0 auto;
  padding-bottom:5px;
  font-family: Arial, sans-serif;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-right: 20px; 
  padding-top:5px;
  padding-bottom:5px;
  background:	#0e0e0e;
 justify-content: center;
 font-size:15px;

}

.social-icons:hover{
  color:#ffa31a;
}


.social-icons a {
  margin-right: 10px;
  font-size:20px;
  color:	#ffffff;
}

.social-icons a img {
  width: 23px;
  height: 23px;

}

.social-icons a:hover {
  color:#ffa31a;
}

.social-icons p {
  margin: 0;
  margin-right: 20px;
  font-size:16px;
  font-weight:bold;
}

.user-icon {
  cursor: pointer;
  padding:20px;
}

.outer-circle {
  border: 2px solid #FFA31A;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle i {
  color: #fff;
}

.login-content {
  display: none;
  text-align: center;
}

.login-content a {
  display: block;
  margin-bottom: 10px;
}


.nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: flex;
   font-size: large;
   font-weight: bold;
}

.nav li {
   margin: 0 10px;
}

.nav a {
   color: white;
   text-decoration: none;
   font-size: 16px;
}


.col-lg-6{
  color:white;
}

.mb-4 {
  background: linear-gradient(45deg, #ffa31a, #ff523b);
  width: 100%;
  transform: skewX(-10deg); /* Add a skew effect */
  text-align: center;
}

#carousel-container {
  width: 100%; /* Adjust the width as needed */
  max-width: auto; /* Maximum width */
  margin: auto; /* Center the carousel */
  height: 80vh; /* Adjust the maximum height as needed */
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.carousel-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-height: 100%;
  transition: transform 0.8s ease-in-out;
  border: 1px solid #ddd; /* Border color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow */
  position: relative;
  overflow: hidden;
}

.carousel-slide img {
  width: 100%;
  height: 800px;; /* Maintain aspect ratio */
  max-height: 100%; /* Adjust image height */
  object-fit: cover; /* Maintain aspect ratio and cover container */
  filter: blur(10px); /* Initially blurred */
  transition: filter 0.8s ease-in-out; /* Transition for the blur effect */
 padding-top:20px;
}

.carousel-slide.active img {
  filter: blur(0); /* Remove blur for the active slide */
}

.caption {
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
  background: linear-gradient(45deg, #ffa31a, #ff523b);
  width: 100%;
  text-align: center;
  transition: filter 0.8s ease-in-out; /* Transition for the blur effect */
  position: absolute;
  bottom: 0;
  color: white;
  z-index: 1; /* Set a higher z-index to display the caption in front */
  transform: skewX(-10deg); /* Add a skew effect */
}

.caption:hover {
  filter: blur(0); /* Remove blur on hover */
}



@media (max-width: 768px) {
  .caption {
    font-size: 18px;
  }
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

.card {
  width: 600px;
  max-width: 400px;
  margin: 0 10px; /* Adjust the margin to control the space between cards */
  display:inline-block;
  margin-left:20px;
  margin-right:20px;
}

.card-img-top {
  width: 400px;
  height: 300px; /* Set the desired height */
  border: 2px solid #ddd; /* Add a border to separate images */
}

.advertising-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
  font-style:italic;
  color: black solid;
}

.advertising-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 50%;
  background: yellow;
  margin: 0 auto;
  margin-top: 10px;
}

.advertising-title span {
  background-color:none;
  padding: 0 10px;
  position: relative;
  z-index: 1;
  color:white;
}

.advertising-title::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 50%;
  background: yellow;
  z-index: -1;
  transform: skewX(-10deg);

}




  /* start of footer  */

 .footer {
  background:	#1b1b1b;
  color: white;
  padding-left:80px;
  width:100%;
  margin-left:0;
  margin-right:0;
  justify-content:space-between;
  margin-top:0;
  padding-top:50px;
  padding-bottom:50px;
}

.footer .icon i {
  background: linear-gradient(90deg, white 50%, #FFA500 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.3s ease; /* Add a transition for smooth color change */
  font-size: 50px;
}

.footer .icon i:hover {
  background: linear-gradient(90deg, #FFA500 50%, white 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}



.footer .detail, .account, .page, .payment {
  margin-bottom: 20px; /* Adjust margin as needed for spacing between sections */
}

.footer  .detail p {
  margin: 0; /* Remove default margins for <p> */
}

.footer  .account h5, .page h5, .payment h5 {
  margin-bottom: 10px; /* Adjust margin as needed */
  color:	#808080;
}

.footer .account ul, .page ul {
  list-style: none;
  padding: 0;
}

.footer .account li, .page li {
  margin-bottom: 5px; /* Adjust margin as needed */
  
}

.footer  .account li a, .page li a {
  color:#ffa500;
  text-decoration: none;
}

.footer .payment-icon {
  width: 60px; /* Adjust icon size as needed */
  margin-right: 10px; /* Adjust margin as needed */
}

/* end of footer  */

/* Example: for small laptops and desktops */
@media (min-width: 992px) {
  /* Your CSS styles for small laptops and desktops go here */
  body {
      font-size: 18px;
  }
}

/* Example: for larger laptops and desktops */
@media (min-width: 1200px) {
  /* Your CSS styles for larger laptops and desktops go here */
  body {
      font-size: 20px;
  }
}

/* Styles for smaller screens */

/* Example: for smartphones */
@media (max-width: 767px) {
  /* Your CSS styles for smartphones go here */
  body {
      font-size: 14px;
  }
}

/* Example: for smaller tablets and larger smartphones */
@media (max-width: 991px) {
  /* Your CSS styles for smaller tablets and larger smartphones go here */
  body {
      font-size: 14px;
  }
}
