/* Base styles */
body {
  font-family: Arial, sans-serif;
  border: none;
  background: radial-gradient(circle, #808080, #000000);
  margin: 0;
  padding: 0;
}


.free {
  background: black;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  position: sticky;
  font-family: Arial, sans-serif;

}

.social-icons {
  align-items: center;
  background: #ffffff;
  color: #ffffff;
  padding-left: 20px;
  position: sticky;
  display: flex;
  width: 100%;
  padding-left: 0;
  justify-content: center;
  align-items: center;
}

.larger-icon {
  font-size: 24px;
  color: #ffa31a;
  vertical-align: middle;

}

.journey-text {
  font-size: 18px;
  margin: 0;
}

.free-shipping-text {
  font-weight: bold;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding:10px 10px;

}

.nav-icon {
  display: flex;
  align-items: center;
}

.nav-icon i {
  font-size: 16px;
  color: #ffa31a;
  margin-right: 5px;
  padding: 25px 10px;

}

.nav-icon span {
  font-size: 16px;
  color: #f4f2ef;
  font-style: italic;
}

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #FFA31A;
  cursor: pointer;
}


.navbar-nav .nav-link .nav-icon {
  margin-right: 5px;
}

.navbar-nav .nav-link .nav-icon i {
  font-size: 24px;
}

.navbar-nav .nav-link:hover {
  color: #ffa31a;
  text-decoration: none;
}

.navbar-nav .nav-link:hover .nav-icon i {
  color: #fff;
}

.social-icons a:hover {
  color: #ffa31a;
}

.social-icons a:hover img {
  transform: scale(1.1);
}

.logo {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  border-radius: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

.icon img {
  width: 35px;
  height: 35px;
  border-radius: 50%;

}

.logo .icon i {
  background: linear-gradient(90deg, white 50%, #FFA500 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.3s ease;
  font-size: 60px;
  padding-right: 10px;
  font-size: 2.5rem;
  margin-right: 1rem;
}

.logo .icon i:hover {
  background: linear-gradient(90deg, #FFA500 50%, white 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.logo-text span {
  color: black;
  background-color: #FFA31A;
  padding: 5px 10px;
  border-radius: 5px;
}

.logo-text {
  font-size: 2rem;
  font-weight: bold;
  color: white;

}

.search {
  flex: 1;
  margin: 0 20px;
  display: flex;
  position: relative;
  width: 200px;
  justify-content: center;
}

.search input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  background-color: #292929;
  color: white;
}

.search-button {
  background: #FFA31A;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #FF7D00

}


.social-icons .container {
  display: flex;
  align-items: center;
  float: left;
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 5px;
  font-family: Arial, sans-serif;

}

.social-icons {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: black;
  justify-content: center;
  font-size: 15px;

}

.social-icons a {
  margin-right: 10px;
  font-size: 20px;
  color: #ffffff;
  display: inline-block;
}

.social-icons a img {
  width: 23px;
  height: 23px;

}

.social-icons a:hover img {
  transform: scale(1.1);
}

.social-icons a:hover {
  color: #ffa31a;
}

.social-icons p {
  margin: 0;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
}

.user-icon {
  cursor: pointer;
  padding: 20px;
  margin-left: 0;
}

.outer-circle {
  border: 2px solid #FFA31A;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle i {
  color: #ffa31a;
  padding: 10px 10px;
}

.login-content {
  display: none;
  text-align: center;
}

.login-content a {
  display: block;
  margin-bottom: 10px;
}

.nav-item a i.fas.fa-shopping-bag {
  color: #FFA31A;
  font-size: 28px;

}

.close {
  color: #FFA31A; 
}
.nav-item a {
  color: #FFA31A;
  text-decoration: none;
  cursor: pointer;
}

.nav-item a:hover {
  color: #fff;
}

.login-text {
  font-size: 18px;
  color: #FFA31A;
  -webkit-text-stroke: 1px #e0d1d1;
}

.login-text:hover {
  color: #FFA31A;
}



@media (max-width: 767px) {
  .navbar-toggler {
    text-align: left;
  }

  .navbar-brand {
    text-align: left;
    margin-right: auto;
  }

  .navbar-collapse {
    text-align: left;
  }

  .navbar-nav {
    width: 100%;
  }

  .navbar-nav .nav-item {
    width: 100%;
    text-align: left;
    margin-bottom: 0.5rem;
    padding: 10px 10px;
    color: white;
    cursor: pointer;
  }

  .search input {
    padding: 10px 10px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 0;
    
  }
}

@media (min-width: 768px) {
  .search {
    flex: 1;
  }

  .search input {
    width: 100%;
  }

  .search button {
    margin-left: 40px;
  }

  .navbar-nav .nav-link {
    color: white;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-toggle {
    display: none;
  }

  .navbar-nav {
    flex-direction: column;
  }
}

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link .nav-icon {
  margin-right: 5px;
  color: #FFA31A;
}

.navbar-nav .nav-link .nav-icon i {
  font-size: 24px;
}

.navbar-nav .nav-link:hover {
  color: #FFA31A;
}


.col-lg-6{
  color:white;
}

.mb-4 {
  background: #FFA31A;
  width: 100%;
  transform: skewX(-10deg); 
}
#carousel-container {
  width: 100%; 
  margin: auto; 
  height: 80vh; 
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.carousel-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-height: 100%;
  transition: transform 0.8s ease-in-out;
  border: 1px solid #ddd; /* Border color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow */
  position: relative;
  overflow: hidden;
}

.carousel-slide img {
  width: 100%;
  height: 800px; 
  max-height: 100%; 
  object-fit: cover; 
  filter: blur(10px); 
  transition: filter 0.8s ease-in-out; 
 padding-top:20px;
}

.carousel-slide.active img {
  filter: blur(0); /* Remove blur for the active slide */
}

.caption {
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
  background: #FFA31A;
  width: 100%;
  text-align: center;
  transition: filter 0.8s ease-in-out; /* Transition for the blur effect */
  position: absolute;
  bottom: 0;
  color: white;
  z-index: 1; 
  transform: skewX(-10deg); 
}

.caption:hover {
  filter: blur(0); 
}

@media (max-width: 768px) {
  .caption {
    font-size: 18px;
  }
}

.card-slider-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
}

.card-slider {
  display: flex;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
}

.card {
  min-width: 300px;
  scroll-snap-align: start;
  border: 1px solid #ccc; /* Add border for better visibility */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: filter 0.5s ease-in-out;
  padding:10px 10px;
}

.card img {
  width: 100%;
  height: auto;
  transition: filter 0.5s ease-in-out;
  filter: blur(5px); /* Initially blurred */
}

.card:hover {
  filter: blur(0); /* Sharp on hover */
}

.advertising-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
  font-style:italic;
  color: black solid;
}

.advertising-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 50%;
  background: #FFA31A;
  margin: 0 auto;
  margin-top: 10px;
}

.advertising-title span {
  background-color:none;
  padding: 0 10px;
  position: relative;
  z-index: 1;
  color:white;
}

.advertising-title::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
  left: 50%;
  background: #FFA31A;
  z-index: -1;
  transform: skewX(-10deg);

}




  /* start of footer  */

 .footer {
  background:	#1b1b1b;
  color: white;
  padding-left:80px;
  width:100%;
  margin-left:0;
  margin-right:0;
  justify-content:space-between;
  margin-top:0;
  padding-top:50px;
  padding-bottom:50px;
}

.footer .icon i {
  background: linear-gradient(90deg, white 50%, #FFA500 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.3s ease; /* Add a transition for smooth color change */
  font-size: 50px;
}

.footer .icon i:hover {
  background: linear-gradient(90deg, #FFA500 50%, white 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}



.footer .detail, .account, .page, .payment {
  margin-bottom: 20px; /* Adjust margin as needed for spacing between sections */
}

.footer  .detail p {
  margin: 0; /* Remove default margins for <p> */
}

.footer  .account h5, .page h5, .payment h5 {
  margin-bottom: 10px; /* Adjust margin as needed */
  color:	#808080;
}

.footer .account ul, .page ul {
  list-style: none;
  padding: 0;
}

.footer .account li, .page li {
  margin-bottom: 5px; /* Adjust margin as needed */
  
}

.footer  .account li a, .page li a {
  color:#ffa500;
  text-decoration: none;
}

.footer .payment-icon {
  width: 60px; /* Adjust icon size as needed */
  margin-right: 10px; /* Adjust margin as needed */
}

/* end of footer  */

/* Example: for small laptops and desktops */
@media (min-width: 992px) {
  /* Your CSS styles for small laptops and desktops go here */
  body {
      font-size: 18px;
  }
}

/* Example: for larger laptops and desktops */
@media (min-width: 1200px) {
  /* Your CSS styles for larger laptops and desktops go here */
  body {
      font-size: 20px;
  }
}

/* Styles for smaller screens */

/* Example: for smartphones */
@media (max-width: 767px) {
  /* Your CSS styles for smartphones go here */
  body {
      font-size: 14px;
  }
}

/* Example: for smaller tablets and larger smartphones */
@media (max-width: 991px) {
  /* Your CSS styles for smaller tablets and larger smartphones go here */
  body {
      font-size: 14px;
  }
}
