/* Base styles */
body {
  font-family: Arial, sans-serif;
  border: none;
  background: radial-gradient(circle, #808080, #000000);
  margin: 0;
  padding: 0;

}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  transition: 0.5s;
  padding-right:10px;
  padding-left:10px;
  box-sizing: border-box; 
}
.free {
   background: black;
   padding: 10px;
   text-align: center;
   color:	#ffffff;
   position: sticky;
   font-family: Arial, sans-serif;
   
}

.social-icons {

   align-items: center;
   background: 	#ffffff;
   color: 	#ffffff;
   padding-left: 20px;
   position: sticky;
   display: flex;
   width: 100%;
   padding-left :0;
  justify-content:center;
  align-items:center;
}

.larger-icon {
   font-size: 24px;
   color:	#ffa31a;
   vertical-align: middle;
   
}

.journey-text {
   font-size: 18px;
   margin: 0;
}

.free-shipping-text {
   font-weight: bold;
}

.icon img {
   width: 30px;
   height: 30px;
}


.navbar {
  background:	#0e0e0e;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items:center;
 text-align:center;
}


.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
   
}

.navbar .logo {
  display: flex;
  align-items: center;
  
}

.navbar .logo .icon {
  padding-right: 5px;
}

.navbar .nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.navbar .nav ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.navbar .nav ul li:last-child {
  margin-right: 0;
}

.navbar .nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.navbar .nav ul li a:hover {
  color:#ffa31a;
}
.navbar .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-right:5px;
 
}

.logo {
   display: flex;
   align-items: center;
   padding-top:5px;
   padding-bottom:5px;
   justify-content:center;
   border-radius: 10px;
   padding-right:5px;
   padding-left:5px;

}

.icon img {
   width: 35px;
   height: 35px;
   border-radius: 50%;

}

.logo .icon i {
  background: linear-gradient(90deg, white 50%, #FFA500 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.3s ease;
  font-size: 60px;
  padding-right: 10px;
  font-size: 2.5rem;
  margin-right: 1rem;
 }
 
 .logo .icon i:hover {
  background: linear-gradient(90deg, #FFA500 50%, white 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
 }
 
 .logo-text span {
  color: black;
  background-color: #FFA31A;
  padding: 5px 10px; 
  border-radius: 5px;
 }
 
 .logo-text {
   font-size: 2rem;
   font-weight: bold;
   color:white;
  
 }
 

.search {
  flex: 1;
  margin: 0 20px;
  display: flex;
  position: relative;
}

.search input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  background-color:	#292929;
  color: white;
}

.search button {
  margin-left: 10px; 
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}


.social-icons .container {
  display: flex;
  align-items: center;
  float:left;
  padding: 10px;
  max-width: 1200px; 
  margin: 0 auto;
  padding-bottom:5px;
  font-family: Arial, sans-serif;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-right: 20px; 
  padding-top:5px;
  padding-bottom:5px;
  background:	#0e0e0e;
 justify-content: center;
 font-size:15px;

}

.social-icons:hover{
  color:#ffa31a;
}


.social-icons a {
  margin-right: 10px;
  font-size:20px;
  color:	#ffffff;
}

.social-icons a img {
  width: 23px;
  height: 23px;

}

.social-icons a:hover {
  color:#ffa31a;
}

.social-icons p {
  margin: 0;
  margin-right: 20px;
  font-size:16px;
  font-weight:bold;
}

.user-icon {
  cursor: pointer;
  padding:20px;
}

.outer-circle {
  border: 2px solid #FFA31A;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle i {
  color: #fff;
}

.login-content {
  display: none;
  text-align: center;
}

.login-content a {
  display: block;
  margin-bottom: 10px;
}


.nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: flex;
   font-size: large;
   font-weight: bold;
}

.nav li {
   margin: 0 10px;
}

.nav a {
   color: white;
   text-decoration: none;
   font-size: 16px;
}


  
/* Styles for the main product container */
.products {
  padding: 20px;
  color:white;
  background: radial-gradient(circle, #808080, #000000);
  text-align: center;
  margin-right:0;
  margin-left:0;

}

/* Styles for the filter section */
.products .categories {
  padding: 0;
  margin-bottom: 20px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  margin-right:0;
  margin-left:0;
}

.products h1 {
  font-size: 30px;
  margin-bottom: 5px;
  text-align: center;
  background: linear-gradient(45deg, #ffa31a, #ff523b);
  width: 50%;
  transform: skewX(-10deg); /* Add a skew effect */
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.products .categories ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.products .categories li {
  cursor: pointer;
}

.products {
  padding: 20px;
  color: white;
  background: radial-gradient(circle, #808080, #000000);
  text-align: center;
  margin-right: 0;
  margin-left: 0;
  margin-top:0;

}

.products .box {
  border: 1px solid white;
  margin: 10px;
  width: 200px;
  height:auto;
  display: inline-block;
background: radial-gradient(circle, #575656, #000000);
  padding: 10px;
  align-items: center; 
  justify-content: center;
  flex-direction: row-reverse;
}


.products .box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  background: radial-gradient(circle, #575656, #000000);

}
@media (max-width: 768px) {
  .products .box {
    width: calc(50% - 40px); /* Adjust for 2 items in a row */
  }
}

.products .container {
  display:center;
  margin-right:0;
  margin-left:0;
  align-items:center;
  justify-content:center;
  
}

/* Sidebar styles */
.sidebar {
  background-color: transparent;
  padding: 5px 5px;
  width: 150px;
  margin-right:0;
  margin-left:0;
  display:inline-block;
  flex-direction: left;
  text-align: center;
}

.sidebar h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  cursor: pointer;
  padding: 8px 0;
}

.sidebar ul li:hover {
  color: #ffa31a;
  font-weight: bold;
}




/* Media query for responsiveness */
@media (max-width: 768px) {
  .product-images .productbox {
    width: 100%; /* Full width on smaller screens */
  }
}

/* Add custom CSS to style the product boxes, icons, and buttons */

/* Style for the icons and buttons */
/* Style for the View button */
.view-icon {
  color:  #FFA31A; /* Change the color as needed */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease;
  background-color: transparent;
  padding:5px 5px;
}

/* Style for the Add to Cart button */
.cart-icon {
  color:  #FFA31A; /* Change the color as needed */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease;
  background-color: transparent;
  padding:5px 5px;
}

/* Style for the Heart button */
.heart-icon {
  color:  #FFA31A;; /* Change the color as needed */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease;
  background-color: transparent;
  padding:5px 5px;
}

/* Additional hover effect for the box image */

.box:hover .img_box img {
  opacity: 0.8;
}

/* Show the icons when hovering over the box */
.box:hover .icons .view-icon,
.box:hover .icons .cart-icon,
.box:hover .icons .heart-icon {
  visibility: visible;
  opacity: 1;
}


/* Bootstrap Modal custom styling */
.modal-content {
  background-color: #f8f9fa; /* Change the modal content background color as needed */
  border: 1px solid #ccc;
}


/* Styles for product details */
.modal-content .detail {
  padding: 10px;
}
 .detail h3 {
  font-size: 18px; /* Adjusted font size */
  margin: 5px 0; /* Adjusted margin */
}

.detail p {
  font-size: 18px; /* Adjusted font size */
  margin: 5px 0; /* Adjusted margin */
  color:#ffa31a;
}

.detail h4 {
  font-size: 14px; /* Adjusted font size */
  font-weight: bold;
  margin: 5px 0; /* Adjusted margin */
}

/* Modal styles */
#productDetailModal {
  display: none;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

#productDetailModal .modal-dialog {
  max-width: 60%;
}

#productDetailModal .modal-content {
  background: radial-gradient(circle, #808080, #000000);
  border: 3px solid white;
  padding: 20px;
  position: relative;
  color:	#ffa31a;
}

#productDetailModal .modal-header{
   color:yellow;
  transform: skewX(-10deg); /* Add a skew effect */
  width:60%;
  padding-top:5px;
  padding-bottom:0px;
}


#productDetailModal .modal-content::after {
  content: "";
  display: block;
  height: 3px;
  width: 99%;
  margin: 0 auto;
  margin-top: 10px;
  transform: skewX(-10deg);
  background: yellow;

 
}

#productDetailModal .modal-content span {
  background-color:none;
  padding: 0 10px;
  position: relative;
  z-index: 1;
  color: white;
}

#productDetailModal .modal-content::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 50%;
  background: linear-gradient(45deg, #f7ff1a, #ff523b);
  z-index: -1;
  transform: skewX(-10deg); 
}



.modal-product-image {
  max-width: 100%;
  height:280px;
}

.modal-header {
  border-bottom: none;
  color:	yellow;
  font-size:50px;
}

.modal-footer {
  border-top: none;
}

.add-to-cart-btn {
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  transition: color 0.3s;
}

.add-to-cart-btn:hover {
  color: #ff6b6b; /* Change to your desired hover color */
}


  /* start of footer  */
  .footer {
    background:	#1b1b1b;
    color: white;
   padding: 80px;
    width:100%;
    margin-left:0;
    margin-right:0;
    justify-content:space-between;
    margin-top:0;
    padding-top:50px;
    padding-bottom:50px;
  }
  
  .footer .icon i {
    background: linear-gradient(90deg, white 50%, #FFA500 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.3s ease; /* Add a transition for smooth color change */
    font-size: 50px;
  }
  
  .footer .icon i:hover {
    background: linear-gradient(90deg, #FFA500 50%, white 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  
  
  .footer .detail, .account, .page, .payment {
    margin-bottom: 20px; /* Adjust margin as needed for spacing between sections */
  }
  
  .footer  .detail p {
    margin: 0; /* Remove default margins for <p> */
  }
  
  .footer  .account h5, .page h5, .payment h5 {
    margin-bottom: 10px; /* Adjust margin as needed */
    color:	#808080;
  }
  
  .footer .account ul, .page ul {
    list-style: none;
    padding: 0;
  }
  
  .footer .account li, .page li {
    margin-bottom: 5px; /* Adjust margin as needed */
  }
  
  .footer  .account li a, .page li a {
    color:#ffa500;
    text-decoration: none;
  }
  
  
  .footer .payment-icon {
    width: 60px; /* Adjust icon size as needed */
   padding:10px 10px;
  }
  
  /* end of footer  */

  /* Styles for normal screens */

/* Example: for tablets and larger screens */
@media (min-width: 768px) {
    /* Your CSS styles for tablets and larger screens go here */
    body {
        font-size: 16px;
        margin-right:0;
        margin-left:0;
    }
}

/* Example: for small laptops and desktops */
@media (min-width: 992px) {
    /* Your CSS styles for small laptops and desktops go here */
    body {
        font-size: 18px;
        margin-right:0;
        margin-left:0;
    }
}

/* Example: for larger laptops and desktops */
@media (min-width: 1200px) {
    /* Your CSS styles for larger laptops and desktops go here */
    body {
        font-size: 20px;

    }
}

/* Styles for smaller screens */

/* Example: for smartphones */
@media (max-width: 767px) {
    /* Your CSS styles for smartphones go here */
    body {
        font-size: 14px;
        margin-right:0;
        margin-left:0;
    }
}

/* Example: for smaller tablets and larger smartphones */
@media (max-width: 991px) {
    /* Your CSS styles for smaller tablets and larger smartphones go here */
    body {
        font-size: 14px;
        margin-right:0;
        margin-left:0;
    }
}

/* Media query for screens up to 320px */
@media (max-width: 320px) {
    body {
      font-size: 12px; /* Adjust font size for screens up to 320px */
      /* Additional styles for screens up to 320px */
      justify-content: center;
      margin-right:0;
      margin-left:0;
    }
  }
  