/* Base styles */
body {
    font-family: Arial, sans-serif;
    border: none;
    background: radial-gradient(circle, #808080, #000000);
    margin: 0;
    padding: 0;
  
  }
  
  .container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    transition: 0.5s;
    padding-right:10px;
    padding-left:10px;
    box-sizing: border-box; 
  }
  .free {
     background: black;
     padding: 10px;
     text-align: center;
     color:	#ffffff;
     position: sticky;
     font-family: Arial, sans-serif;
     
  }
  
  .social-icons {
  
     align-items: center;
     background: 	#ffffff;
     color: 	#ffffff;
     padding-left: 20px;
     position: sticky;
     display: flex;
     width: 100%;
     padding-left :0;
    justify-content:center;
    align-items:center;
  }
  
  .larger-icon {
     font-size: 24px;
     color:	#ffa31a;
     vertical-align: middle;
     
  }
  
  .journey-text {
     font-size: 18px;
     margin: 0;
  }
  
  .free-shipping-text {
     font-weight: bold;
  }
  
  .icon img {
     width: 30px;
     height: 30px;
  }
  
  
  .navbar {
    background:	#0e0e0e;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items:center;
   text-align:center;
  }
  
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
     
  }
  
  .navbar .logo {
    display: flex;
    align-items: center;
    
  }
  
  .navbar .logo .icon {
    padding-right: 5px;
  }
  
  .navbar .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-style: italic;
  }
  
  .navbar .nav ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .navbar .nav ul li:last-child {
    margin-right: 0;
  }
  
  .navbar .nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .navbar .nav ul li a:hover {
    color:#ffa31a;
  }
  .navbar .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-right:5px;
   
  }
  
  .logo {
     display: flex;
     align-items: center;
     padding-top:5px;
     padding-bottom:5px;
     justify-content:center;
     border-radius: 10px;
     padding-right:5px;
     padding-left:5px;
  
  }
  
  .icon img {
     width: 35px;
     height: 35px;
     border-radius: 50%;
  
  }
  
  .logo .icon i {
    background: linear-gradient(90deg, white 50%, #FFA500 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.3s ease;
    font-size: 60px;
    padding-right: 10px;
    font-size: 2.5rem;
    margin-right: 1rem;
   }
   
   .logo .icon i:hover {
    background: linear-gradient(90deg, #FFA500 50%, white 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
   }
   
   .logo-text span {
    color: black;
    background-color: #FFA31A;
    padding: 5px 10px; 
    border-radius: 5px;
   }
   
   .logo-text {
     font-size: 2rem;
     font-weight: bold;
     color:white;
    
   }
   
  
  .search {
    flex: 1;
    margin: 0 20px;
    display: flex;
    position: relative;
  }
  
  .search input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    background-color:	#292929;
    color: white;
  }
  
  .search button {
    margin-left: 10px; 
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
  }
  
  
  .social-icons .container {
    display: flex;
    align-items: center;
    float:left;
    padding: 10px;
    max-width: 1200px; 
    margin: 0 auto;
    padding-bottom:5px;
    font-family: Arial, sans-serif;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    margin-right: 20px; 
    padding-top:5px;
    padding-bottom:5px;
    background:	#0e0e0e;
   justify-content: center;
   font-size:15px;
  
  }
  
  .social-icons:hover{
    color:#ffa31a;
  }
  
  
  .social-icons a {
    margin-right: 10px;
    font-size:20px;
    color:	#ffffff;
  }
  
  .social-icons a img {
    width: 23px;
    height: 23px;
  
  }
  
  .social-icons a:hover {
    color:#ffa31a;
  }
  
  .social-icons p {
    margin: 0;
    margin-right: 20px;
    font-size:16px;
    font-weight:bold;
  }
  
  .user-icon {
    cursor: pointer;
    padding:20px;
  }
  
  .outer-circle {
    border: 2px solid #FFA31A;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inner-circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inner-circle i {
    color: #fff;
  }
  
  .login-content {
    display: none;
    text-align: center;
  }
  
  .login-content a {
    display: block;
    margin-bottom: 10px;
  }
  
  
  .nav ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
     display: flex;
     font-size: large;
     font-weight: bold;
  }
  
  .nav li {
     margin: 0 10px;
  }
  
  .nav a {
     color: white;
     text-decoration: none;
     font-size: 16px;
  }
  


 /*start of sliding section*/

.container-fluid {
    background-color:#292929;
    margin-top:0;
    padding: 1% 1%; 
    margin-right:0;
    margin-left:0;
  
}

/* Override Bootstrap column padding */
.container-fluid .col-md-8{
    padding:0px;
  
    
   
}


.container-fluid .col-md-4 {
padding-right:5%;
margin-right:0;
margin-left:0;

}

/* Carousel styling */
#carousel-container {
    width: 100%;
    max-width: 100%;
    padding-left:5%;
    margin-right:0;
    margin-left:0;
    
    

}

.carousel-item img {
    height: 350px;
    width: 100%;
    border: 1px solid #ffffff;
}


/* Shop button styling */
.shop-button {
    background-color: 	#ffa31a;
    color: #292929;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
}

.shop-button:hover {
    background-color: 	#ffa500; 
}

/* Adjust control icon color */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color:	#ffa500;
}

/* Adjust indicator color */
.carousel-indicators li {
    background-color:	#ffa500;
}

.carousel-indicators .active {
    background-color: 	#ffa500; 
}


@media (max-width: 991px) {
    .container-fluid {
      padding: 5px;
    }
  
    .container-fluid .col-md-4 {
      padding-right: 0;
    }
  
    #carousel-container {
      padding-left: 0;
    }
  }
  


 /*end of sliding section*/

 /* start of product */
 .product_type {
    background-color: #292929;
    padding: 20px; /* Add padding to create some space */
}
.product_type .box {
    width: 200px; /* Adjust the width of each box */
    margin: 10px;
    padding: 0;
    background-color:black;
    box-shadow: 0 0 10px rgba(160, 155, 155, 0);
    text-align: center;
    overflow: hidden;
    flex: 1 1 calc(25% - 40px); 
    max-width: calc(25% - 40px); 
    border: 1px solid #ffffff;
}

@media (max-width: 768px) {
    .product_type .box {
        flex: 1 1 calc(50% - 40px); 
        max-width: calc(50% - 40px); 
    }
}

@media (max-width: 576px) {
    .product_type .box {
        flex: 1 1 calc(100% - 40px);
        max-width: calc(100% - 40px); 
    }
}

.product_type .box {
  width: calc(25% - 40px);
  max-width: calc(25% - 40px);
}

@media (max-width: 768px) {
  .product_type .box {
    width: calc(50% - 40px);
    max-width: calc(50% - 40px);
  }
}

@media (max-width: 576px) {
  .product_type .box {
    width: calc(100% - 40px);
    max-width: calc(100% - 40px);
  }
}


.product_type .container {
     text-align: center;
     cursor: pointer;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     background: transparent;

 }

 .product_type h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top:20px;
    color: black;
    background: linear-gradient(45deg, #f7ff1a, #ff523b);
    width: 100%;
    transform: skewX(-10deg); /* Add a skew effect */
    text-align: center;
   font-size:2rem;
   padding-top:5px;
   padding-bottom:5px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
   
}

 .product_type .container .box {
     background-color: black;
     border-radius: 10px;
     transition: transform 0.3s ease;
     box-shadow: 0 10px 20px rgba(247, 242, 242, 0.3);
     display: inline-block;
     position: relative;
     overflow: hidden;
     background:transparent;
 
}

 .product_type .container .box:hover {
     transform: translateY(-10px);
     background: #aeabab;
 }

 .product_type .container .img_box {
     position: relative;
     height: auto;
     padding-top: 10px;
     padding-bottom: 10px;
    
    
 }
 .product_type .box img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

 .product_type .container .box .img_box img {
     width: 100%;
    transition: transform 0.3s ease-in-out;
    background-color: transparent;
     margin-bottom: 0px;
     padding: 20px;
     border-radius: 10px;
     cursor: pointer;
     width: 100%;
     max-width:100%;

}

 .product_type .container .box:hover .img_box img {
     transform: scale(1.2);
 }

 .product_type .box:hover img {
    transform: scale(1.2);
}

.product_type .box .detail p {
    margin-top: 10px;
  
    
}


.product_type .box .detail p a {
    margin-top: 10px;
    color:white;
    
}

.product_type .box .detail p a:hover {
    color:		#ffa31a; /* Adjust the hover color as needed */
}


 .product_type .container .box:hover .detail {
     transform: translateY(0) ;
     background-color: rgba(0, 0, 0, 0.7);

}


 .product_type .box .detail {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#292929;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    font-weight: bold;
    font-size: 18px;
    color:	#ffa31a;
    
   
}
 /* end of product_type  */

 /* start of about section*/

 .about {
     padding: 100px;
     justify-content: center;
     text-align: center;
     display: row;
     background-color:#292929;
    padding: 50px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
 }
 .about .section-title {
   display: absolute;
     text-align: center;
     margin-bottom: 20px;
     color: black;
     background: linear-gradient(45deg, #f7ff1a, #ff523b);
     width: 100%;
     transform: skewX(-10deg); /* Add a skew effect */
     text-align: center;
     font-size:2rem;
     padding-top:5px;
     padding-bottom:5px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .about .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about .boxes .box {
    width: 100%; /* Adjust the width of each box */
    padding: 20px;
    margin: 5px 0; /* Adjusted margin for better spacing between boxes */
    background: radial-gradient(circle, #575656, #000000);
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 10px 20px rgba(247, 242, 242, 0.3);
}

@media (min-width: 576px) {
    .about .boxes .box {
        width: calc(50% - 20px); 
        max-width: 400px; 
    }
}

@media (min-width: 768px) {
    .about .boxes .box {
        width: calc(33.33% - 20px); 
    }
}

@media (max-width: 320px) {
    .about .boxes .box {
        padding: 10px;
        font-size: 12px; 
    }
}


 .about .boxes  .box:hover {
    transform: translateY(-10px);
}


 .about .container .boxes .box .icon {
     font-size: 30px;
     color: white;
     justify-content: center;
     cursor: pointer;
     transition: all 0.3s ease-in-out;
     text-align: center;
     margin-bottom: 10px;
 }

 .about .container .boxes .box .icon {
     font-size: 35px;
     color: #ffa500;
     box-shadow: 0 10px 20px rgba(242, 238, 238, 0.89) transparent;
 }

 .currency-icon {
     font-weight: bold;
     font-size: 20px;
 }

 .about .detail {
     margin-top: 10px;
     text-align: center;
     justify-content: center;
     color:white;
 }

 .about .detail h3 {
     font-size: 24px;
     margin-bottom: 10px;
     color: white;
     
 }

 .about .container .boxes .box {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    width: 70%;
    max-width: 400px;
    
}

.about .box:hover {
    background: radial-gradient(circle, #808080, #000000);
}

 /* Add your existing CSS for styling here */


 /* start of top_product */

 .top_product {
     display: flex;
     flex-direction: column;
     text-align: center;
     margin: 0 0;
     justify-content: center;
     padding: 20px 10px;
     background-color:#292929;
     color:#FFA31A;
     padding-left:50px;
     padding-right:50px;
     justify-content: center;
    align-items: center;

   

} 

.top_product .top_products{
    color:white;
    transform:skewX(-10deg);
    width:60%;
    padding-top:5px;
    padding-bottom:0px;

 
}

 .top_products::after {
    content: "";
    display: block;
    height: 3px;
    width: 99%;
    margin: 0 0;
    margin-top: 10px;
    transform: skewX(-10deg);
    background: #ffa31a;
    color:white;
  
   
  }

  .top_products span {
    background-color:none;
    padding: 0 10px;
    position: relative;
    z-index: 1;
    color: white;
  }

  .top_product .top_products::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 50%;
    background: linear-gradient(45deg, #db7e15, #ff523b);
    z-index: -1;
    transform: skewX(-10deg); 
    
  }


 .top_product .container {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;

 }

 .top_product .container .box {
     padding: 10px 20px;
     overflow: hidden;
     width: 250px;
     height: 390px;
     border: 1px solid#ffffff;
     margin-bottom: 20px;
     transition: 0.5s;
     cursor: pointer;
     border-radius: 5px;
     justify-content: center;
     align-items: center;
     background: 	#1b1b1b;
     box-shadow: 0 10px 20px rgba(252, 252, 252, 0.3);
   

 }

 .top_product .container .box:hover {
     box-shadow: rgba(250, 247, 247, 0.928) 0px 3px 8px;
 }

 .top_product .container .box .img_box {
     display: flex;
     justify-content: space-between;
     border-bottom: 1px solid#ffffff;

 }

 .top_product .container .box .img_box img {
     width: 180px;
     height: 200px;
  

 }

 .top_product .container .box .img_box .icon {
     z-index: 1;
     position: relative;
     right: 0;
     display: flex;
     flex-direction: column;
     margin-top: 20px;
     transition: 0.5s;
 }

 .top_product .container .box .img_box:hover .icon {
     transform: translateX(-130px);

 }

 .top_product .container .box .img_box .icon li {
     list-style: none;
     padding: 5px;
     color: rgb(235, 236, 246);
     cursor: pointer;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     background-color: rgba(0, 0, 0, 0.5);
     transition: 0.7s;
     font-size: 24px;
}

 .top_product .container .box .img_box .icon li:hover {
     background:#ffa31a;
     color:black;
 }

 .top_product .container .box .detail {
     margin-top: 0px;
     padding-bottom:10px;
     margin-bottom:10px;

 }

 .top_product .container .box .detail p {

     font-size: 20px;
     font-weight: bold;
     padding-bottom:10px;
 }

 .top_product .container .box .detail h3 {
     font-size: 18px;
     margin-top: 5px;
     color:	#ffffff;
     transition: 0.3s;

 }

 .top_product .container .box:hover .detail h3 {
     color:#ffa31a;
 }
 .top_product .container .box .detail h4 {
     margin-top: 5px;
     font-size: 18px;
     color: 	#ffffff;
    
     padding-bottom:10px;
 }


 @media (max-width: 768px) {
    .top_product .container .box {
        flex: 1 1 calc(50% - 40px); 
        max-width: calc(50% - 40px); 
    }
}

@media (max-width: 768px) {
    .top_product h2 {
        flex: 1 1 calc(50% - 40px); 
        max-width: calc(50% - 40px); 
    }
}

@media (max-width: 576px) {
    .top_product .container .box {
        flex: 1 1 calc(100% - 40px);
        max-width: calc(100% - 40px); 
    }
}

/* Style for the overlay */
.icon .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}



 /* end of top_prouduct */

 /* start of banner */


 .banner {
     background: 	#292929;
     padding: 20px;
     margin-bottom: 0;
    
     color: #fff;
 }

 .banner .container .img_box img {
     max-width: 100%;
     /* Adjust the maximum width of the image */
     height: auto;
     /* Maintain aspect ratio */
     width: 300px;
 
    
 }

 .banner .container {
     padding: 30px 40px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .banner .container .detail {
   
     flex: 1;
     padding: 20px;
 }

 .banner .container .detail h4 {
     font-size: 16px;
 }

 .banner .container .detail h3 {
     margin-top: 10px;
     font-size: 36px;
 }

 .banner .container .detail p {
     margin-top: 20px;
     font-size: 24px;
     font-weight: bold;
     margin-bottom: 20px;
 }

 .banner .container .detail .link {
     padding: 10px 30px;
     background: yellow;
     color: 	#1b1b1b;
     text-decoration: none;
     border-radius: 5px;
     transition: 0.3s;
 }

 .banner .container .detail .link:hover {
     color: navy;
     background: #FFA31A;
 }

 /* end of banner */

/* 
 Product Detail Section */
 .product_detail {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .product_detail .container {
     background: white;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 }

 .product_detail .closebtn {
     background: none;
     border: none;
     font-size: 24px;
     cursor: pointer;
 }


 .product_detail .container .productbox {
     display: flex;
     padding: 20px;
     margin-top: 20px;
 }

 .product_detail .container .productbox .img-box {
     padding: 20px;
     width: 40%;
     background: #f1f1f1;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .product_detail .container .productbox .img-box img {
     max-width: 100%;
     max-height: 100%;
 }

 .product_detail .container .productbox .detail {
     margin-left: 20px;
 }

 .product_detail .container .productbox .detail h4 {
     text-transform: uppercase;
     font-size: 14px;
     font-weight: 400;
     color: #9a9a9a;
 }

 .product_detail .container .productbox .detail h2 {
     margin-top: 20px;
     font-size: 24px;
     color: #010f1c;
     text-transform: capitalize;
 }

 .product_detail .container .productbox .detail p {
     margin-top: 10px;
     color: white;
 }

 .product_detail .container .productbox .detail h3 {
     margin-top: 10px;
     color: #010f1c;
     font-size: 24px;
 }

 .product_detail .container .productbox .detail button {
     margin-top: 30px;
     padding: 15px 30px;
     font-size: 16px;
     color: #fff;
     background: #010f1c;
     transition: 0.3s;
     border: none;
     outline: none;
     cursor: pointer;
     border-radius: 5px;
 }

 .product_detail .container .productbox .detail button:hover {
    color:#ffa500;

 }

 .product_detail {
     padding: 30px;
     width: 100%;
     height: 100%;
     position: fixed;
     z-index: 2;
     top: 0;
     left: 0;
     background: rgba(0, 0, 0, 0.7);
     display: flex;
     justify-content: center;
     align-items: center;
     overflow-y: auto;
 }

 .product_detail .container {
     width: 800px;
     max-height: 80%;
     background: #fff;
     padding: 30px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 }

 .product_detail .container .closebtn {
     margin-left: auto;
     font-size: 24px;
     cursor: pointer;
     border: none;
     background: none;
 }

 .product_detail .container .productbox {
     display: flex;
     padding: 20px;
     margin-top: 20px;
 }

 .product_detail .container .productbox .img-box {
     padding: 20px;
     width: 40%;
     background: #f1f1f1;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .product_detail .container .productbox .img-box img {
     max-width: 100%;
     max-height: 100%;
 }

 .product_detail .container .productbox .detail {
     margin-left: 20px;
 }

 .product_detail .container .productbox .detail h4 {
     text-transform: uppercase;
     font-size: 14px;
     font-weight: 400;
     color: #9a9a9a;
 }

 .product_detail .container .productbox .detail h2 {
     margin-top: 20px;
     font-size: 24px;
     color: #010f1c;
     text-transform: capitalize;
 }

 .product_detail .container .productbox .detail p {
     margin-top: 10px;
     color: #4a4a4a;
 }

 .product_detail .container .productbox .detail h3 {
     margin-top: 10px;
     color: #010f1c;
     font-size: 24px;
 }

 .product_detail .container .productbox .detail button {
     margin-top: 30px;
     padding: 15px 30px;
     font-size: 16px;
     color: #fff;
     background: #010f1c;
     transition: 0.3s;
     border: none;
     outline: none;
     cursor: pointer;
     border-radius: 5px;
 }

 .product_detail .container .productbox .detail button:hover {
     background: #0989ff;
 }

 /* end of product_detail

/* start of footer  */

.footer {
    background:	#1b1b1b;
    color: white;
   padding: 80px;
    width:100%;
    margin-left:0;
    margin-right:0;
    justify-content:space-between;
    margin-top:0;
    padding-top:50px;
    padding-bottom:50px;
  }
  
  .footer .icon i {
    background: linear-gradient(90deg, white 50%, #FFA500 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.3s ease; /* Add a transition for smooth color change */
    font-size: 50px;
  }
  
  .footer .icon i:hover {
    background: linear-gradient(90deg, #FFA500 50%, white 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  
  
  .footer .detail, .account, .page, .payment {
    margin-bottom: 20px; /* Adjust margin as needed for spacing between sections */
  }
  
  .footer  .detail p {
    margin: 0; /* Remove default margins for <p> */
  }
  
  .footer  .account h5, .page h5, .payment h5 {
    margin-bottom: 10px; /* Adjust margin as needed */
    color:	#808080;
  }
  
  .footer .account ul, .page ul {
    list-style: none;
    padding: 0;
  }
  
  .footer .account li, .page li {
    margin-bottom: 5px; /* Adjust margin as needed */
  }
  
  .footer  .account li a, .page li a {
    color:#ffa500;
    text-decoration: none;
  }
  
  
  .footer .payment-icon {
    width: 60px; /* Adjust icon size as needed */
   padding:10px 10px;
  }
  
  /* end of footer  */

  /* Styles for normal screens */

/* Example: for tablets and larger screens */
@media (min-width: 768px) {
    /* Your CSS styles for tablets and larger screens go here */
    body {
        font-size: 16px;
        margin-right:0;
        margin-left:0;
    }
}

/* Example: for small laptops and desktops */
@media (min-width: 992px) {
    /* Your CSS styles for small laptops and desktops go here */
    body {
        font-size: 18px;
        margin-right:0;
        margin-left:0;
    }
}

/* Example: for larger laptops and desktops */
@media (min-width: 1200px) {
    /* Your CSS styles for larger laptops and desktops go here */
    body {
        font-size: 20px;

    }
}

/* Styles for smaller screens */

/* Example: for smartphones */
@media (max-width: 767px) {
    /* Your CSS styles for smartphones go here */
    body {
        font-size: 14px;
        margin-right:0;
        margin-left:0;
    }
}

/* Example: for smaller tablets and larger smartphones */
@media (max-width: 991px) {
    /* Your CSS styles for smaller tablets and larger smartphones go here */
    body {
        font-size: 14px;
        margin-right:0;
        margin-left:0;
    }
}

/* Media query for screens up to 320px */
@media (max-width: 320px) {
    body {
      font-size: 12px; /* Adjust font size for screens up to 320px */
      /* Additional styles for screens up to 320px */
      justify-content: center;
      margin-right:0;
      margin-left:0;
    }
  }
  


  /* Styles for normal screens */

/* Example: for tablets and larger screens */
@media (min-width: 500px) {
    /* Adjust the carousel height for tablets and larger screens */
    .carousel-item img {
        height: 350px; /* Adjust the height as needed */
    }
}

/* Example: for small laptops and desktops */
@media (min-width: 992px) {
    /* Adjust the carousel height for small laptops and desktops */
    .carousel-item img {
        height: 500px; /* Adjust the height as needed */
    }
}

/* Example: for larger laptops and desktops */
@media (min-width: 1200px) {
    /* Adjust the carousel height for larger laptops and desktops */
    .carousel-item img {
        height: 600px; /* Adjust the height as needed */
    }
}

/* Styles for smaller screens */

/* Example: for smartphones */
@media (max-width: 767px) {
    /* Adjust the carousel height for smartphones */
    .carousel-item img {
        height: 300px; /* Adjust the height as needed */
    }
}

/* Example: for smaller tablets and larger smartphones */
@media (max-width: 991px) {
    /* Adjust the carousel height for smaller tablets and larger smartphones */
    .carousel-item img {
        height: 350px; /* Adjust the height as needed */
    }
}